html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-image: url(img/submitBG.png);
}

.container {
	height: 300px;
	width: 600px;
	border: 2px solid black;
	border-radius: 15px;
	position: relative;
	top: 100px;
	background-color: white;
}

span {
	font-family: 'Boogaloo', cursive;
	display: block;
	position: relative;
	top: 25px;
	text-align: center;
	font-size: 48px;
	color: #3128a6;
}

hr {
	position: relative;
	top: 20px;
	height: 3px;
	background-color: black;
}

p {
	font-family: 'Boogaloo', cursive;
	font-size: 24px;
	color: #422ba8;
}

#from {
	font-family: 'Boogaloo', cursive;
	float: right;
	color: #422ba8;
}