html, body {
	padding: 0;
	margin: 0;
}

#showcase {
	width: 100%;
	height: 100vh;
	background: linear-gradient(181deg, #83018c, #bab8b7);
	background-size: 400% 400%;
	box-sizing: border-box;
	animation: bgAnimation1 12s ease-in-out infinite;
}

#showcase h1 {
	margin: 0 auto;
	padding: 40px;
	color: #ffd89b;
	opacity: 0.9;
	font-size: 56px;
	letter-spacing: .3em;
	text-align: center;
	font-family: 'Roboto', Arial, sans-serif;
	text-transform: uppercase;
}

.centertext {
	text-align: center !important;
}

p {
	font-family: 'Roboto', Arial, sans-serif;
	color: #ffd89b;
	font-size: 24px;
	padding-bottom: 36px;
}

@media (min-width: 992px) 
.container {
	max-width: 960px;
}

@media (min-width: 768px) 
.container {
	max-width: 720px;
}

@media (min-width: 992px) 
.container {
	max-width: 540px;
}

.container {
	width: 100%;
}

.nav {
	padding-top: 2em;
}

.a {
	font-family: 'Roboto', Arial, sans-serif;
	color: white;
	font-size: 24px;
	text-decoration: none;
	padding: 1em 0em 1em 0em;
	margin: auto;
}

.a:hover {
	transition: 0.3s;
	text-decoration: none;
	color: #ffd89b;
}

#invis {
	text-decoration: none;
	color: #fff;
}

#arrow {
	display: block;
	margin: auto;
	height: 56px;
	width: 56px;
	margin-top: 50px;
	cursor: pointer;
	background: url(img/arrowdown.png);
	background-size: cover;
}

#invis:hover + #arrowtext{
	cursor: pointer;
	color: #ffd89b;
	transition: 0.3s;
}

#arrowtext {
	padding-top: 12px;
	color: white;
}

hr {
	background-color: white;
}

.section-about, .section-portfolio, .section-contact {
	width: 100%;
	padding: 3em;
}

#about, #portfolio, #contact {
	padding-bottom: 24px;
}

.section-about p, .section-portfolio p, .section-contact p {
	color: #000;
	font-size: 18px;
	padding-bottom: 12px;
}

.image1 {
	width: 100%;
	height: 400px;
	background: url(img/img1.jpg);
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.7;
}

.image2 {
	width: 100%;
	height: 400px;
	background: url(img/img2.jpeg);
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.7;
}

.image3 {
	width: 100%;
	height: 400px;
	background: url(img/img3.jpg);
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.7;
}

.boxes {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-gap: 10px;
	height: 800px;
}

.box {
	transition: 0.5s;
	box-shadow: 4px 3px 19px 1px rgba(0, 0, 0, 0.75);
}

#box1 {
	background:url(img/pic1.png);
	background-size: cover;
}

#box2 {
	background:url(img/pic2.png);
	background-size: cover;
}

#box3 {
	background:url(img/pic3.png);
	background-size: cover;
}

#box4 {
	background:url(img/pic4.png);
	background-size: cover;
}

#boxText1, #boxText2 {
	color: #000;
	font-weight: bold;
	font-size: 24px;
	padding-top: 3em;
	visibility: hidden;
}


#boxText3, #boxText4 {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	padding-top: 3em;
	visibility: hidden;
}

#link1, #link2, #link3, #link4 {
	text-decoration: none;
	color: white;
	border: solid 2px #000;
	background-color: #000;
	display: block;
	text-align: center;
	margin: auto;
	width: 100px;
	visibility: hidden;
}

#link1:hover, #link2:hover, #link3:hover, #link4:hover {
	color: #000;
	background-color: #fff;
}

.section-contact button {
	display: block;
	margin: auto;
}

.section-contact button a {
	color: #fff;
}

.section-contact button a:hover {
	transition: 0.3s;
	padding: 1em;
	text-decoration: none;
}

.socials {
	text-align: center;
}

.section-contact .socials i {
	padding: 0.5em;
}

.section-contact .socials a {
	color: #000;
	font-size: 5em;
	background-color: #fff;
}

.section-contact .socials i:hover {
	opacity: 0.8;
}

footer a {
	display: block;
	color: #000;
	text-align: center;
	padding: 16px;
}

footer a:hover {
	text-decoration: none;
	color: #000;
}
/* Animations */
@keyframes bgAnimation1 {
	0% {background-position: 75% 0%}
	50% {background-position: 26% 100%}
	100%{background-position: 75% 0%}
}

@-webkit-keyframes bgAnimation1 {
	0% {background-position: 75% 0%}
	50% {background-position: 26% 100%}
	100%{background-position: 75% 0%}
}

@-moz-keyframes bgAnimation1 {
	0% {background-position: 75% 0%}
	50% {background-position: 26% 100%}
	100%{background-position: 75% 0%}
}

/* Media Queries */
